@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
body {
    background-image: url(../Content/image/4.jpg) !important;
    font-family: 'Open Sans', sans-serif!important;
    font-size:11px;
}


.jumbotron {
    padding-top: 10px !important; 
    padding-bottom: 48px !important;
}