a:focus, a:hover {
	text-decoration: none;
	outline: none
}
img {
	width: 100%;
}
/*-- //Reset Code --*/

/*-- Index-Page-Styling --*/

/*-- Navbar --*/
.navbar-inverse {
	position: absolute;
	z-index: 99999;
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: #333;
	border: 3px solid #FFF;
}
.logo {
	font-family: 'Slabo 27px', serif;
	background-color: rgba(51, 51, 51, 0.56);
	margin-top: 30px;
	height: 100px;
	width: 100px;
	border: 5px solid #FFF;
	webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.logo:hover {
	background-color: rgba(0, 6, 9, 0.68);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.navbar-inverse .navbar-brand {
	position: absolute;
	font-size: 25px;
	font-weight: 900;
	color: #EEE;
	webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: -15px;
    top: 20px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #FFF;
}
.navbar-nav {
	background-color: transparent;
	margin-top: 50px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
	color: #EEE;
	font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color: #FFF;
}
ul#cross-effect {
	margin-top: 50px;
}
/*-- Hover-Cross-Effect --*/
.cross-effect {
	position: relative;
	z-index: 1;
}
.cross-effect a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.cross-effect a::before, .cross-effect a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	background: #EEE;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.cross-effect a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
.cross-effect a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}
.cross-effect a:hover, .cross-effect a:focus {
	color: #fff;
}
.cross-effect a:hover::before, .cross-effect a:hover::after, .cross-effect a:focus::before, .cross-effect a:focus::after {
	opacity: 0.7;
}
.cross-effect a:hover::before, .cross-effect a:focus::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.cross-effect a:hover::after, .cross-effect a:focus::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
/*-- //Hover-Cross-Effect --*/
/*-- //Navbar ---*/


/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	} 
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
/*-- //Slideanim --*/

/*-- //Index-Page-Styling --*/

/*-- Responsive Code --*/

@media screen and (max-width:1920px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 60%;
	}
	.slider-grid-bg {
		left: 40%;
	}
	.carousel-control {
		top: 45%;
	}
}

@media screen and (max-width:1680px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 69%;
	}
	.slider-grid-bg {
		left: 39%;
	}
	.carousel-control {
		top: 46.5%;
	}
}

@media screen and (max-width:1600px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 72%;
	}
}

@media screen and (max-width:1440px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 80%;
	}
	.slider-grid-bg {
		left: 37%;
		top: 30%;
	}
}

@media screen and (max-width:1366px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 85%;
	}
	.slider-grid-bg {
		left: 37.5%;
		top: 28%;
	}
}

@media screen and (max-width:1280px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 90%;
	}
	
}

@media screen and (max-width:1024px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 93%;
	}
	ul#cross-effect {
		margin-top: 40px;
	}
	.slider-grid-bg {
		top: 27%;
		left: 35%;
		height: 300px;
		width: 300px;
	}
	.slider-grid-text {
		left: 0px;
		top: 75px;
	}
	.slider-grid-text h5 {
		font-size: 28px;
	}
	.features-item {
		padding: 30px 0 20px;
	}
	.features-info {
		padding-left: 0;
	}
	.about {
		height: 530px;
	}
	.gallery-top figure.effect-bubba h4 {
		padding-top: 9%;
	}
	.testimonial {
		height: 420px;
	}
	.stats {
		height: 580px;
	}
	#about-us {
		padding: 60px 60px;
	}
	p.stats-info {
		margin: 0;
		padding: 0;
	}
	.team-social {
		top: 38%;
		left: 11%;
		width: 77%;
		height: 24%;
		border-radius: 30px;
	}	
	.newsletter .email {
		padding: 5px 40px 5px 10px;
		font-size: 13px;
	}
	.newsletter .submit {
		width: 35px;
	}
}

@media screen and (max-width:991px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 80%;
	}
	.navbar-nav.navbar-right:last-child {
		margin-right: 0;
	}
	.logo {
		height: 80px;
		width: 80px;
	}
	.navbar-inverse .navbar-brand {
		left: -10px;
		top: 10px;
		font-size: 20px;
	}
	
}

@media screen and (max-width:966px) {
	.feature1 {
		margin-bottom: 0px;
		width: 50%;
	}
	.features {
		padding-bottom: 50px;
	}
	.features-info {
		padding-left: 20px;
	}
	.about p {
		padding: 0;
	}
	.testimonial {
		height: 420px;
	}
	.gallery-grids h4 {
		font-size: 20px;
	}
	.num1 .num-rotate {
		width: 80px;
		height: 80px;
		left: 18%;
	}
	.num1 .num-rotate:before {
		top: 0px;
		right: 55px;
		border-width: 0 25px 25px 0;
	}
	.team h4 {
		font-size: 23px;
	}
	.map iframe {
		height: 300px;
	}
	.contact {
		height: 540px;
	}
	.footer-info li {
		font-size: 12px;
	}
	.address li {
		line-height: 20px;
	}
	.footer-info p {
		font-size: 12px;
	}
	.newsletter .email {
		width: 110%;
	}
	.newsletter .submit {
		right: -15px;
	}
}

@media screen and (max-width:853px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 90%;
	}
	ul#cross-effect {
		margin-top: 30px;
	}
	.slider-grid-bg {
		top: 29%;
		left: 35%;
		height: 250px;
		width: 250px;
	}
	.slider-grid-text {
		left: 20px;
		top: 60px;
	}
	.slider-grid-text h5 {
		font-size: 22px;
	}
	.slider-grid-text p {
		font-size: 13px;
		margin-top: 15px;
	}
}

@media screen and (max-width:800px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 92%;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.slider-grid-bg {
		top: 27.5%;
	}
	.testimonial {
		height: 420px;
	}
	.testimonial p {
		padding: 0;
	}
}

@media screen and (max-width:768px) {
	nav.navbar.navbar-inverse.navbar-default {
		width: 95%;
	}
	.logo {
		margin-left: 25px;
	}
	ul#cross-effect {
		margin-top: 20px;
	}
	.slider-grid-bg {
		top: 26.5%;
		left: 33%;
	}
	.features h2, .features h3 {
		font-size: 25px;
	}
	.about {
		height: 580px;
	}
	.team {
		height: 420px;
	}
	h1, .about h3, .portfolio h3, .testimonial h3, .skills h3, .stats h3, .clients h3, .team h3, .contact h3 {
		font-size: 35px;
		margin: 40px auto 0;
	}
}

@media screen and (max-width:736px) {
	.navbar-toggle {
		margin-right: 0;
		margin-top: 26px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
		box-shadow: none;
		width: 72%;
		position: absolute;
		top: 19px;
		right: 45px;
		padding: 0;
	}
	ul#cross-effect {
		width: 97%;
		float: right;
		text-align: center;
		display: -webkit-inline-box;
		padding: 0;
		margin: 0;
	}
	.nav>li {
		height: 50px;
		margin-top: 5px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	.slider-grid-bg {
		height: 225px;
		width: 225px;
		top: 28.5%;
		left: 34%;
	}
	.slider-grid-text {
		left: 15px;
		top: 45px;
	}
	.slider-grid-text h5 {
		font-size: 20px;
	}
	.heading-underline {
		margin-bottom: 30px;
	}
	.img-grid {
		padding: 10px;
		width: 33%;
		float: left;
	}
	.about {
		height: 550px;
	}
	.portfolio {
		padding-bottom: 20px;
	}
	.gallery-top {
		width: 32%;
	}
	.gallery-grids h4 {
		font-size: 18px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 26px;
	}
	.testimonial {
		height: 420px;
	}
	.skills-numbers {
		margin-top: 60px;
		padding: 0 30px;
	}
	.stats {
		height: 570px;
	}
	.stats-grid {
		width: 25%;
		float: left;
	}
	.team-grid {
		width: 25%;
		float: left;
	}
	.team-social {
		top: 38%;
		left: 16%;
		width: 69%;
		height: 23%;
	}
	.team {
		height: 410px;
	}
	.team h4 {
		font-size: 22px;
	}
	.map iframe {
		height: 250px;
	}
	.contact {
		height: 470px;
	}
	.c1 {
		width: 50%;
		float: left;
		padding: 0 5px;
	}
	a.more_btn {
		font-size: 13px;
	}
	.footer-info {
		margin-top: 20px;
	}
	.footer-info-grid {
		width: 25%;
		float: left;
	}
	.address li {
		line-height: 18px;
	}
}

@media screen and (max-width:667px) {
	.logo {
		height: 60px;
		width: 60px;
		margin-top: 20px;
		margin-left: 5px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		width: 72%;	
	}
	.navbar-inverse .navbar-brand {
		left: -15px;
		top: 0px;
		font-size: 16px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 12px;
	}
	.slider-grid-bg {
		top: 26.5%;
		left: 33%;
	}
	.slider-grid-text {
		left: 17px;
	}
	.nav-diamond a {
		margin: 0;
	}
	.features-item {
		padding: 30px 0 10px;
	}
	.features-info {
		padding-left: 0;
	}
	.features-item p {
		font-size: 13px;
	}
	.about {
		height: 500px;
	}
	.about p {
		font-size: 13px;
		line-height: 30px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 18px;
	}
	.testimonial {
		height: 400px;
	}
	.testimonial p {
		font-size: 13px;
		line-height: 30px;
	}
	.skills p {
		font-size: 13px;
		line-height: 30px;
	}
	.num1 .num-rotate {
		width: 65px;
		height: 65px;
		left: 20%;
	}
	.num1 .num-rotate:before {
		right: 45px;
		border-width: 0 20px 20px 0;
	}
	.num1 .numscroller {
		top: 20px;
		left: 25px;
		font-size: 20px;
	}
	.num1 h4 {
		font-size: 18px;
	}
	.stats p {
		font-size: 13px;
		line-height: 30px;
	}
	.stats-img img {
		width: 80px;
	}
	.stats {
		height: 535px;
	}
	.team {
		height: 385px;
	}
	.team-social {
		left: 10%;
		width: 78%;
		height: 27%;
	}
	.team h4 {
		font-size: 18px;
	}
	.contact {
		height: 465px;
	}
	.address li {
		line-height: 21px;
	}
}

@media screen and (max-width:640px) {
	.navbar-toggle {
		margin-right: 0px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 11px;
	}
	.slider-grid-bg {
		top: 25.5%;
		left: 32%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 15px;
		font-size: 16px;
	}
	#about-us {
		padding: 30px;
	}
	#about-us .lead {
		margin-top: 15px;
	}
	.team {
		height: 380px;
	}
	.team-social {
		top: 37%;
		left: 9%;
		width: 83%;
		height: 27%;
	}
	.contact {
		height: 430px;
	}
	.contact_form input[type='text'] {
		padding: 10px 17px 10px;
		height: 35px;
	}
	.contact_form textarea {
		height: 145px;
	}
	.footer-info p {
		line-height: 18px;
	}
	.address li {
		line-height: 20px;
	}
}

@media screen and (max-width:603px) {
	.nav>li>a {
		padding: 10px;
	}
	.slider-grid-bg {
		height: 200px;
		width: 200px;
		top: 27.5%;
		left: 33%;
	}
	.slider-grid-text {
		left: 10px;
		top: 40px;
	}
	.slider-grid-text h5 {
		font-size: 18px;
	}
	.slider-grid-text p {
		font-size: 12px;
		margin-top: 10px;
		line-height: 25px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
		font-size: 14px;
	}
	.testimonial {
		height: 360px;
	}
	.num1 .num-rotate {
		width: 55px;
		height: 55px;
		left: 20%;
	}
	.num1 .num-rotate:before {
		right: 35px;
	}
	.num1 h4 {
		font-size: 16px;
	}
	.num1 .numscroller {
		top: 15px;
		left: 20px;
	}
	.stats {
		height: 535px;
	}
	.stats-img img {
		width: 70px;
	}
	.footer-info h4 {
		font-size: 17px;
	}
	.team-grid {
		padding: 0;
	}
	.team-social {
		top: 38%;
		left: 15%;
		width: 70%;
		height: 24%;
	}
}

@media screen and (max-width:600px) {
	.about {
		height: 520px;
	}
	.stats-img img {
		width: 70px;
	}
	p.stats-info {
		font-size: 12px;
	}
	.team-social {
		top: 38%;
		left: 14%;
		width: 71%;
		height: 23%;
	}
}

@media screen and (max-width:568px) {
	.navbar-toggle {
		padding: 5px;
	}
	ul#cross-effect {
		width: 94%;
	}
	.nav>li>a {
		padding: 8px;
	}
	.nav-diamond .left-arrow, .right-arrow {
		width: 45px;
		height: 45px;
		background-size: 40px;
	}
	.nav-diamond .right-arrow {
		background-size: 40px;
	}
	.slider-grid-bg {
		top: 23%;
		left: 32%;
	}
	.heading-underline {
		width: 15%;
	}
	.features h2, .features h3 {
		font-size: 20px;
		line-height: 40px;
	}
	.features-icon img {
		padding-top: 15px;
	}
	.features-item h4 {
		font-size: 18px;
	}
	.about {
		height: 540px;
	}
	.tabs-style-bar nav ul li a span {
		font-size: 12px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 10px;
	}
	.testimonial {
		height: 400px;
	}
	.skills-numbers {
		margin-top: 50px;
	}
	.num1 h4 {
		font-size: 14px;
	}
	.num1 .numscroller {
		top: 16px;
		left: 18px;
	}
	.stats {
		height: 530px;
	}
	p.stats-info {
		padding: 0;
		margin-top: 15px;
		line-height: 20px;
		font-size: 13px;
		font-weight: 100;
	}
	.clients {
		padding-bottom: 40px;
	}
	.team {
		height: 700px;
	}
	.team-grid {
		width: 50%;
		padding: 20px 0;
	}
	.team-image img {
		width: 75%;
		margin-left: 12%;
	}
	.team h4 {
		margin-top: 15px;
	}
	.team-social {
		top: 42%;
		left: 30%;
		width: 38%;
		height: 17%;
	}
	.map iframe {
		height: 200px;
	}
	.contact {
		height: 420px;
	}
	.message {
		margin-bottom: 20px;
	}
	.footer-info-grid {
		width: 50%;
		margin-bottom: 20px;
	}
	.address li {
		line-height: 25px;
	}
	.newsletter .email {
		width: 105%;
	}
	.footer-info p {
		line-height: 23px;
	}
}

@media screen and (max-width:533px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		width: 50%;
		background-color: #333;
	}
	ul#cross-effect {
		width: 100%;
		display: block;
	}
	.nav>li {
		height: 40px;
		margin: 0;
	}
	.navbar-inverse .navbar-nav>li>a:hover {
		color: #FFF;
		background-color: rgba(171, 171, 171, 0.46);
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 13px;
	}
	.cross-effect a::before, .cross-effect a::after {
		position: inherit;
	}
	.slider-grid-bg {
		height: 190px;
		width: 190px;
	}
	.slider-grid-text {
		left: 15px;
		top: 37px;
	}
	.features-item h4 {
		font-size: 17px;
	}
	.tabs-style-bar nav ul li a span {
		letter-spacing: 0;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 8px;
		font-size: 12px;
	}
	.skills p {
		padding-top: 30px;
	}
	.num1 .num-rotate {
		width: 50px;
		height: 50px;
	}
	.num1 .num-rotate:before {
		right: 30px;
	}
	.team-social {
		top: 40%;
		left: 28%;
		width: 41%;
		height: 18%;
	}
}

@media screen and (max-width:480px) {
	.navbar-toggle {
		margin-right: 5px;
		margin-top: 19px;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		right: 50px;
	}
	.slider-grid-bg {
		top: 15%;
		left: 30%;
	}
	.carousel-control {
		top: 41.5%;
	}
	.features-item {
		padding: 40px 0 10px;
	}
	.features-item h4 {
		font-size: 15px;
	}
	.about {
		height: 570px;
	}
	.gallery-grids figure figcaption {
		top: -14px;
		left: -14px;
		width: 125%;
		height: 135%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
		font-size: 14px;
	}
	.testimonial {
		height: 420px;
	}
	.skills-numbers {
		padding: 0;
	}	
	.stats .numscroller {
		font-size: 30px;
	}
	.num1 h4 {
		margin-top: 35px;
	}
	.num1 .numscroller {
		top: 15px;
		left: 15px;
	}
	.stats-info {
		margin-top: 25px;
	}
	.clients .heading-underline {
		margin-bottom: 50px;
	}
	.team {
		height: 645px;
	}
	.team-social {
		top: 40%;
		left: 27%;
		width: 45%;
		height: 21%;
	}
}

@media screen and (max-width:414px) {
	.heading-underline {
		width: 20%;
	}
	.slider-grid-bg {
		height: 170px;
		width: 170px;
		top: 16.5%;
		left: 28.5%;
	}
	.slider-grid-text {
		left: 5px;
		top: 40px;
	}
	.slider-grid-text h5 {
		font-size: 16px;
		margin-bottom: 10px;
	}
	.slider-grid-text p {
		font-size: 11px;
		margin-top: 10px;
		line-height: 18px;
	}
	.carousel-inner>.item>img {
		height: 250px;
	}
	h1, .about h3, .portfolio h3, .testimonial h3, .skills h3, .stats h3, .clients h3, .team h3, .contact h3 {
		font-size: 30px;
		margin: 30px auto 0;
	}
	.features h2, .features h3 {
		font-size: 18px;
	}
	.features p {
		font-size: 14px;
	}
	.feature1 {
		width: 100%;
	}
	.features-icon img {
		padding-top: 0;
	}
	.features-info {
		padding-left: 20px;
	}
	.features-item {
		padding: 20px 0 10px;
	}
	.features-info {
		padding-left: 20px;
		padding-top: 10px;
	}
	.about {
		height: 650px;
	}
	.portfolio {
		padding-bottom: 20px;
	}
	.portfolio h4 {
		margin: 20px 0;
	}
	.gallery-top {
		width: 48%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 26px;
	}
	.img-grid {
		width: 100%;
	}
	.testimonial {
		height: 430px;
	}
	.num1 {
		width: 33%;
		margin-bottom: 50px;
	}
	.num1 .num-rotate {
		width: 70px;
		height: 70px;
		left: 22%;
	}
	.num1 .num-rotate:before {
		right: 40px;
		border-width: 0 30px 30px 0;
	}
	.num1 .numscroller {
		top: 25px;
		left: 27px;
	}
	#about-us {
		padding: 0 30px 20px;
	}
	#about-us .lead {
		margin-top: 0;
	}
	.skills p {
		padding-top: 0;
	}
	.stats {
		height: 500px;
	}
	.stats-img img {
		width: 60px;
	}
	.stats .numscroller {
		font-size: 25px;
	}
	.team-social {
		top: 39%;
		left: 23%;
		width: 54%;
		height: 24%;
	}
	.team {
		height: 570px;
	}
	.contact {
		height: 400px;
	}
	.contact_form input[type='text'] {
		padding: 10px;
	}
	.address li {
		line-height: 20px;
	}
	.footer-info {
		margin-top: 20px;
	}
	.footer-info p {
		line-height: 21px;
	}
}

@media screen and (max-width:384px) {
	.slider-grid-bg {
		left: 26.5%;
	}
	.features h2, .features h3 {
		font-size: 16px;
	}
	.features-info {
		padding-left: 10px;
	}
	.about {
		height: 670px;
	}
	.tabs-style-bar nav ul li a span {
		font-size: 10px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 22px;
	}
	.stats {
		height: 530px;
	}
	.team {
		height: 590px;
	}
	.team-image img {
		width: 90%;
		margin-left: 5%;
	}
	.team-social {
		top: 40%;
		left: 20%;
		width: 58%;
		height: 21%;
	}
}

@media screen and (max-width:375px) {
	.testimonial {
		height: 460px;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 20px;
	}
	.team-social {
		top: 39%;
		width: 60%;
		height: 22%;
	}
}

@media screen and (max-width:360px) {
	.slider-grid-bg {
		left: 25.5%;
	}
	.features h2, .features h3 {
		font-size: 15px;
	}
	.features-item {
		padding: 20px 0 0px;
	}
	.features-info {
		padding-left: 5px;
		padding-top: 5px;
	}
	.about {
		height: 700px;
	}
	h4.slideanim.slide {
		line-height: 30px;
	}
	.num1 .num-rotate {
		left: 18%;
	}
	.stats .numscroller {
		font-size: 23px;
	}
	.team-image img {
		width: 100%;
		margin-left: 0%;
	}
	.team-social {
		left: 18%;
		width: 63%;
		height: 21%;
	}
}

@media screen and (max-width:320px) {
	.slider-grid-bg {
		left: 22%;
	}
	.features h2, .features h3 {
		font-size: 17px;
		line-height: 35px;
	}
	.features-icon img {
		padding-top: 16px;
	}
	.about p {
		padding: 0 10px;
		font-size: 12px;
		line-height: 25px;
	}
	.about {
		height: 675px;
	}
	.portfolio h3, .clients h3, .team h3 {
		font-size: 27px;
	}
	.gallery-grids figure figcaption {
		top: -16px;
		left: -19px;
		width: 140%;
		height: 150%;
	}
	.gallery-top figure.effect-bubba h4 {
		margin-top: 13px;
	}
	.testimonial {
		height: 520px;
	}
	.num1 {
		width: 50%;
	}
	.num1 .num-rotate {
		left: 25%;
	}
	.stats {
		height: 540px;
	}
	.stats-img img {
		width: 50px;
	}
	.stats .numscroller {
		font-size: 20px;
		text-indent: -5px;
	}
	p.stats-info {
		margin-left: -5px;
	}
	.team-social {
		left: 14%;
		width: 72%;
		height: 23%;
	}
	.team {
		height: 565px;
	}
	.contact {
		height: 540px;
	}
	.c1 {
		width: 100%;
	}
	.footer-info p {
		line-height: 25px;
	}
}

/*-- //Responsive Code --*/