<div class="row">
    <div class="jumbotron" style="opacity:0.7;color:#000;">
        <blockquote class="text-center"style="font-size: 18px !important;">
            The business landscape today is one that is global, interconnected and fast moving, and if businesses cant keep up, they fall behind. 
            We believe that given the right tools, you can stay a step ahead.
        </blockquote>
        <blockquote class="text-center" style="font-size: 18px !important;">
            We built PMsync to level the playing field, so any business, of any size can do more than just get by in this networked economy.
            They can succeed!
        </blockquote>
     </div>
    </div>